<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Tutoree</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="position-sticky pt-3">
        <%= render 'layouts/sidebar' %>
      </div>
    </nav>
    <main class="col-md-7 col-lg-7 px-md-2">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
        <h1 class="h2" style="color:white;">Posts</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#postsModal">Create</button>
            </div>
          </div> 
        </div>
        <div class="container py-2">
          <div class="row">
            <!--% @posts.each do |post| %-->        
              <div class="col-3">
                post.
              </div>
            <!--% end %-->
          </div>
        </div>
    </main>   
    <main class="col-md-3 col-lg-3 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
        <h1 class="h2" style="color:white;">Current <% if User.find(session[:user_id]).type == "tutee" %>Tutor<% elsif User.find(session[:user_id]).type == "tutor" %>Tutee <%end%></h1>
      </div>
      <div class="container py-2">
        <div class="row">
          Name: SAMPLE User
        </div>  
        <div class ="row"> 
          <div class="col">SUBJECT: Sample</div>
          <div class="col">RATE: $24/hr </div>
        </div>
        <div class ="row"> 
          <div class="col">DURATION</div>
          <div class="col">Starts at: September 26, 2022</div>
          <div class="col">Ends at: September 27, 2022</div>
        </div>
      </div>
      
    </main>
  </div>
</div>
<!-- modal -->
<div class="modal fade" id="postsModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postsModalLabel">Create a Post</h5>
      </div>
    <div class="modal-body">
      <!-- RENDER HERE -->Render
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
</div>
<!-- end of modal -->