<style>
	body{
		margin:0;
		padding:0;
		background:black;
	}
	.profile-image-pic{
		height: 200px;
		width: 200px;
		object-fit: cover;
		}
	.cardbody-color{
		background-color: white;
	}

	a{
		text-decoration: none;
	}
  .nav-link:hover{
    border-left: 3px solid white;
    color:white;
    background:#1f2022;
  }
	.navbar{
		background:#1f2022;
	}
	.nav-link{
		color: white;
	}
  main{
    background: #1e2024;
    border-left: 3px solid silver;
  }
	</style>

<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Tutoree</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li style="color:white">

              Welcome, <%= User.find(session[:user_id]).email_address %>!

          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard">
              
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              
              Jobs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              
              Messages
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">
              
            My Profile
            </a>
          </li>
		   <li class="nav-item">
            <a class="nav-link" href="/logout">
              
				<b><span style="color: #b40606;">Logout</span></b>
            </a>
          </li>
        </ul>


    </nav>
        <%# <% @posts.each do |post| %>
           <%# if post.is_accepted == true then next end 
          <div class="card-columns">
            <div class="col my-3">
               render post 
            </div>
          </div>
         end  %>
    <%# ang current tutor maliit lng sya sa gilid para ang space sa gitna yung mga  %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
        <h1 class="h2" style="color:white;">Dashboard</h1>
      </div>
      <div class="container py-3">
        <div class="row">
          <div class="col-md-4" style="color:white">CURRENT TUTEE/TUTOR: <br>
            <img src="https://attracttour.com/wp-content/uploads/2022/10/image-183.png" class="img profile-image-pic img-thumbnail rounded-circle my-2" width="200px" alt="profile">
            <p style="color:white;">Caloocan Boy</p>
          </div>
          <div class="col-md-4">SUBJECT: <h1 class="h2" style="color: white;">POGI</h1></div>
          <div class="col-md-4">DURATION:<h1 class="h3" style="color: white;">Starts at: September 26, 2022</h1> <h1 class="h3" style="color: white;">Ends at: September 27, 2022</h1></div>
        </div>
      </div>
      <div class="container py-3">
        <div class="row">
          <div class="col-md-4">RATE:<h1 class="h3" style="color: white;">$24/hr</h1> </div>
        </div>
      </div>
    </main>
  </div>
</div>