<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
        <title>Tutoree</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&family=Jost&family=Katibeh&family=Nabla&family=Orelega+One&family=Patrick+Hand+SC&family=Quicksand:wght@500&display=swap');
        body {
            margin: 40px;
            font-family: 'Quicksand', sans-serif;
            background-color: white;
        }

        #title {
            font-family: 'Nabla', cursive;
            font-size: 6em;
        }
        
        .card-title {
            font-family: 'Averia Sans Libre';
            font-size: 30px;
        }
    </style>

    <body>
        <header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

    <!-- Background image -->
    <div class="p-5 text-center bg-image"
        style="background: url('https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/blogs/9652/images/pu2mcgklSz2mIaYGgYDX_avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg') repeat-x; align-content: center;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div style="color:black;">
                <h1 class="mb-3" id="title">Tutoree</h1>
                <h5 class="mb-4" style="text-shadow: 0px 1px 2px #FFFFFF; margin-top: 27px; font-family:Jost">
                    Connects students seeking for online tutoring with licensed tutors/instructors who are willing to offer their knowledge.
                </h5> 
                
            </div>
        </div>
        </div>
    </div>
    <!-- Background image -->

    <!-- Card -->
    <div class="card" style="margin-top: 30px;">
        <div class="row g-0">
            <div class="col-5 col-sm-4">
                <img src="https://www.usnews.com/object/image/0000014f-8ece-d567-abef-cfce59db0000/150902-studentstudying-stock.jpg?update-time=1590084596169&size=responsive640" class="img-fluid w-100" alt="card-horizontal-image">
            </div>
            <div class="col-7 col-sm-8">
                <div class="card-body">
                    <h5 class="card-title">Learn from your tutors, be a student</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted"><a class="btn btn-success btn-lg m-2" href="/new"
                    target="_blank" role="button">Be a Student</a></small></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card" style="margin-top: 30px;">
        <div class="row g-0">
            <div class="col-7 col-sm-8">
                <div class="card-body">
                    <h5 class="card-title">Teach your students, be a tutor</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted"><a class="btn btn-warning btn-lg m-2" href="/new"
                    role="button" rel="nofollow" target="_blank">Be a Tutor</a></small></p>
                </div>
            </div>
            <div class="col-5 col-sm-4">
                <img src="https://www.usnews.com/object/image/0000014f-8ece-d567-abef-cfce59db0000/150902-studentstudying-stock.jpg?update-time=1590084596169&size=responsive640" class="img-fluid w-100" alt="card-horizontal-image">
            </div>
        </div>
    </div>
    <!-- Card -->

    </header>
    </body>
</html>