/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&family=Jost&family=Katibeh&family=Nabla&family=Orelega+One&family=Patrick+Hand+SC&family=Quicksand:wght@500&display=swap');
*{	
outline:
    0px dashed red;
}   
/* INDEX */

body {
            margin: 40px;
            font-family: 'Quicksand', sans-serif;
            background-color: white;
        }
#title {
            font-family: 'Nabla', cursive;
            font-size: 6em;
        }
.card-title {
            font-family: 'Averia Sans Libre';
            font-size: 30px;
        }

/* PAGES */

.container-fluid {
            padding: 20px;
        }
.profile-image-pic{
            height: 200px;
            width: 200px;
            object-fit: cover;
            }

.cardbody-color{
            background-color: #f5f5f5;
        }

a {
            text-decoration: none;
        }